<header>
  <h1>Reactive Form</h1>
</header>

<div class="container">
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <div formGroupName="userData">
      <div class="row">
        <div class="form-group" style="display: block;">
          <label>Email:</label>
          <input type="email" formControlName="email" class="form-control" />
          <div class="help-block" style="display: block;">
            <span *ngIf="this.signupForm.get('userData.email')?.touched && this.signupForm.get('userData.email')?.invalid && !this.signupForm.get('userData.email')?.errors?.['emailIsForbidden']">
              Please enter a valid email address

            </span>
            <span *ngIf="this.signupForm.get('userData.email')?.errors?.['emailIsForbidden']">This email is not allowed</span>
            <span *ngIf="this.signupForm.get('userData.email')?.touched && this.signupForm.get('userData.email')?.errors?.['required']">This field is required</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" formControlName="password" class="form-control" />
          <div class="help-block">
            <span *ngIf="signupForm.get('userData.password')?.touched && signupForm.get('userData.password')?.invalid">
              Please enter a valid password
              <span *ngIf="signupForm.get('userData.password')?.errors?.['passwordNotPermitted']">This password is not allowed</span>
            </span>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="form-group">
        <label for="gender">Gender:</label>
        <select formControlName="gender" class="form-control">
          <option value="" disabled>Select gender</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
      </div>
    </div>
    <div class="row" style="margin-top: 20px;">
      <div class="form-group">
        <label for="ageGroup">Select your age group:</label>
        <div *ngFor="let age of ageGroup">
          <label>
            <input type="radio" formControlName="age" [value]="age" />
            {{ age }}
          </label>
        </div>
      </div>
    </div>
    <div formArrayName="hobbies">
      <h3 style="color: black;font-size: 20px;">Hobbies:</h3>
    <button class="hobby" type="button"   (click)="onAddHobby()"> Add Hobby</button>
   <div class="form-group"*ngFor="let hobbyControl of getControls(); let i = index">
    <input type="text" class="form-control" [formControlName]="i">
   </div>
    </div>
    <div class="button-container">
      <button [disabled]="!signupForm.valid" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
